//src/screens/Auth/forgotpassword.scss
@use "../../styles/variables" as *;

.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#60519b;
  padding: 2rem;

  .auth-card {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem;
  }

  .auth-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary;
    text-align: center;
    margin-bottom: 1rem;
  }

  .auth-input-container {
    margin-bottom: 1rem;

    .auth-input {
     font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: black;
    border-radius: 15pc;
    background-color: #60519b;
    opacity: 1;
    border: 2px solid black;
    padding: 10px 12px;
    margin-bottom: 20px;
    margin-left: 8px;
    transition: border-color 0.3s;


      &.error {
        border-color: red;
      }
    }

    .auth-error {
      color: red;
      font-size: 0.85rem;
      margin-top: 0.25rem;
    }
  }

  .auth-button {
    width: 100%;
    background-color: $primary;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
